*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin :0;
    padding: 0;
}

.logo{
    float: left;
    width: 200px;
    height: 70px;
}

header {
    padding: 10px 20px 10px 20px;
    height: 70px;
}

header nav {
    float: left;
}

header .cta_header {
    float: right;
}

.clear{
    clear: both;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    color: #5399D3;
    float: left;
    margin-right: 20px;
}

header nav li:hover{
    color: orange;
}

.cta_header #cta_btn{
    background-color: #FBAC17;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.cta_header #cta_btn:hover{
    background-color: red;
}

.cta_header #phone_number{
    margin-top: 10px;
    color: #5399D3;
    text-align: center;
}

.home_banner{
    height: 50vh;
    background-image: url("images/fitgirl_home.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

.banner_box{
    position: absolute;
    width: 500px;
    top: 100px;
    left: 100px; 
}

.banner_box h1 {
    color: #5399D3;
}

.banner_box h2 {
    color: #FBAC17;
}

.banner_box p{
    color: #5399D3;
    margin-bottom: 30px;
}

.banner_box a {
    text-decoration: none;
}

.btn_blue{
    background-color: #5399D3;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.btn_orange{
    background-color: #FBAC17;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

section.activities{
    background-color: #FBAC17;
    padding: 10px 20px 20px 10px;
}

.flex_3{
    display: flex;
    justify-content: space-around;
}

section.activities article{
    flex-direction: column;
    width: 500px;
    background-color: white;
    margin: 0 20px 20px 0px;
    text-align: center;
}

.activities h2{
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

.activities h3{
    color: orange;
}

.activities p{
    color: #5399D3;
}

.img_activite{
    box-sizing: border-box;
}

.box_contain{
    padding: 10px;
}

section.coaches{
    margin-top: 0px;
    padding: 0 3em 0 3em;
}

section.coaches h2{
    color: #5399D3;
    text-align: center;
}

section.coaches .grid_coaches{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}

section.coaches div article{
    height: 200px;
    border-radius: 10px;
    background-color: #5399D3;
}

section.coaches div article div{
    color: #ffffff;
    width: 400px;
    position: absolute;
    top: 1em;
    right: 5em;
    text-align: center;
}

section.coaches div article div h4{
    border-bottom: solid 2px #ffffff;
    padding-bottom: 2em;
}

#jerome_mazuret{
    background-image: url("images/jerome_mazuret.jpg");
    background-repeat: no-repeat;
    position: relative;
}

#julia_modiano{
    background-image: url("images/julia_modiano.jpg");
    background-repeat: no-repeat;
    position: relative;
}

#remy_tobin{
    background-image: url("images/remy_tobin.jpg");
    background-repeat: no-repeat;
    background-position-y: -2em;
    position: relative;
}

#eglantine_laroche{
    background-image: url("images/eglantine_laroche.jpg");
    background-repeat: no-repeat;
    background-position-y: -7em;
    position: relative;
}

.social_ico_coaches{
    list-style-type: none;
    text-align: center;
    width: 300px;
}

.social_ico_coaches li{
    float: left;
}

section.testimonials{
    background-color: #5399D3;
    margin-top: 2em;
    padding: 2em 3em 3em 3em;
    text-align: center;
}

section.testimonials h2{
    color: #ffffff;
    text-align: center;
    margin-bottom: 2em;
}

section.testimonials article{
    background-color: #ffffff;
    color: #5399D3;
    border-radius: 10px;
    margin: 0 1em 0 0;
    padding: 2em;
}

section.testimonials article li{
    list-style-type: none;
}

section.testimonials article li:first-child{
    margin-bottom: 2em;
}

.round{
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 1em;
}

.center{
    text-align: center;
}

section.calltoaction{
    height: 50vh;
    background-image: url("images/cta_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section.calltoaction h2{
    color: #ffffff;
    margin-bottom: 2em;
    font-size: 2em;
    width: 28em;
}

section.calltoaction h3{
    color: #000000;
    font-size: 2em;
    width: 28em;
}

section.calltoaction div{
    text-align: right;
    position: absolute;
    right: 2em;
    top: 2em;
}

section.calltoaction .cta_btn_section{
    background-color: #FBAC17;
    color: #ffffff;
    padding: 1em 2em 1em 2em;
    border-radius: 50px;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    top: 15em;
}

section.arguments{
    height: 50vh;
}